.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
Custom CSS
*/

.piano-container {
  position: absolute;
  height: 200px;
  border: 5px solid black;
}

.white-note {
  height: 100%;
  width: 50px;
  background: white;
  float: left;
  border-right: 1px solid black;
  position: relative;
}

.black-note {
  position: absolute;
  height: 65%;
  width: 55%;
  z-index: 1;
  background: #777;
  left: 68%;
}

.controls-container {
  position: relative;
  
}